html {
    height: 100%;
}

body {
    min-height: 100%;
    background: rgb(235, 238, 239);
}

section {
    max-width: 806px;
    margin: 0 auto;
    background: white;
    
    margin-top: 24px;
    margin-bottom: 24px;
    border-radius: 5px;
    border: 1px black;
    box-shadow: 0 0 0 1px rgba(8, 9, 10, .1);
}

article {
    padding: 32px 64px;
}

section img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

article img {
    border-radius: 0;
}

article h1 {
    font-size: 2.5rem;
}

figcaption {
    text-align: right;
}

div.date {
    border-bottom: 2px solid red;
    display: inline-block;

    margin-bottom: 36px;
    font-style: italic;
}

code pre {
    padding: 8px;
    border-radius: 5px;
    font-size: .8rem;
    color: rgb(247, 247, 247);
    background-color: rgb(10, 12, 12);
}